@page
@model Maktab.Sample.Blog.Presentation.Pages.Patients.IndexModel
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "_UserLayout";
}

@{


    if ((Model.PatientModel != null))
    {
        @foreach (var patient in Model.PatientModel)
        {
            <div class="card mt-2 position-relative">
                <div class="btn-group dropstart position-absolute top-0 end-0">
                    <button type="button" class="btn btn-secondary bg-transparent border-0 text-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-three-dots-vertical"></i>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" asp-page="#" asp-route-postId="@patient.Id" asp-route-maktab="114">Edit Infirmary</a></li>
                        <li><a class="dropdown-item text-danger" onclick="ShowDeleteModal('@patient.Id')" href="#">Delete Infirmary</a></li>
                    </ul>
                </div>
                <div class="card-img-top" style="height: 400px; background-image: url('Hospital_Pic_3.png'); background-repeat: no-repeat; background-position: center; background-size: cover"></div>
                <div class="card-body">
                    <h5 class="card-title">National Code:@patient.NationalCode</h5>
                    <p class="card-text">Patient Description:@patient.PatientDescription</p>
                    <p class="card-text">Insurance Name:@patient.InsuranceName</p>
                    <p class="card-text">Insurance Description:@patient.PatientDescription</p>
                    <p class="card-text">User Name : @patient.Author!.GetFullName()</p>
                </div>
            </div>
        }
        <div class="modal fade" id="delete-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Delete Infirmation</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Are you sure to delete this Information?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <form method="post" asp-page-handler="Delete">
                            <div class="mb-3 d-none">
                                <input name="InfirmaryId" class="form-control" id="infirmaryIdInput">
                            </div>
                            <button type="submit" class="btn btn-danger">Yes, Delete Infprmation.</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    }

    else
    {
        <form method="post" asp-page-handler="Create">
            <div class="mb-3">
                <label asp-for="AddPatientModel.NationalCode" class="form-label">National Code</label>
                <input asp-for="AddPatientModel.NationalCode" class="form-control" id="nationalCodeInput">
                <span asp-validation-for="AddPatientModel.NationalCode" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="AddPatientModel.PatientDescription" class="form-label">Patient Description </label>
                <input asp-for="AddPatientModel.PatientDescription" class="form-control" id="patientDescriptionInput">
                <span asp-validation-for="AddPatientModel.PatientDescription" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="AddPatientModel.InsuranceName" class="form-label">Insurance Name </label>
                <input asp-for="AddPatientModel.InsuranceName" class="form-control" id="insuranceNameInput">
                <span asp-validation-for="AddPatientModel.InsuranceName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="AddPatientModel.IsuranceDescription" class="form-label">Insurance Description </label>
                <input asp-for="AddPatientModel.IsuranceDescription" class="form-control" id="insuranceDescriptionInput">
                <span asp-validation-for="AddPatientModel.IsuranceDescription" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    }
}