@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    از حضور شما در این سایت ممنونیم. امیدواریم حالتان همیشه خوب باشد. در صورت نیاز به دریافت نوبت از پزشک، مشاوره تلفنی و متنی با متخصصان، استفاده ازخدمات کلینیکی و پارکلینیکی ، لازم است که قوانین و شرایط  را بخوانید .
    شرکت فن‌آوری اطلاعات نوین  جاما سلطانی (سهامی خاص) با شناسه ملی۴۰۴۲۴۲۴۲۷۰ در این سند به بیان شرایط و مقررات استفاده از خدمات ما می‌پردازد. سایت ما شامل دریافت نوبت از پزشک، مشاوره تلفنی و متنی با متخصصان و استفاده از خدمات کلینیکی و پاراکلینیکی است. ثبت‌نام کاربران در این سایت به معنای قبول کلیه مفاد این سند است و از لحظه ثبت‌نام، این سند به منزله قراردادی الزام‌آور میان کاربر و شرکت خواهد بود. بنابراین ضروری است شهروند پیش از ثبت‌نام و استفاده از خدمات ، این شرایط و ضوابط را با دقت مطالعه فرمایید.
</p>

<h5>ماده یک) تعاریف</h5>
<p>
    واژگان و اصطلاحاتی که در شرایط و قوانین حاضر مورد استفاده قرار گرفته‌اند، دارای معانی به شرح ذیل است
</p>

<p>منظور سایت: به آدرس  است که مالکیت آن تماماً متعلق به شرکت است</p>
<p>
    کاربر/کاربران: منظور کلیه اشخاصی هستند که از  بازدید نموده و یا از خدمات  استفاده می‌نمایند؛ شامل پزشکان، روانشناسان، ماماها، پیراپزشکان، مراکز درمانی، داروسازان و شهروندان.
    شهروند: به متقاضی استفاده از خدمات پزشکان، روانشناسان و  کلینیک اطلاق می‌گردد.
    ارائه‌دهندگان خدمات: به کلیه پزشکان، روانشناسان، ماماها، پیراپزشکان، مراکز درمانی، داروسازان و بطور کلی کلیه ارائه‌دهندگان خدمات بهداشت و درمان اطلاق می‌گردد که در سایت اقدام به ارائه خدمات به شهروندان می‌نمایند.
    پزشک: شخصی است که به حرفه پزشکی می‌پردازد و دارای کد نظام پزشکی معتبر است.
    روانشناس: شخصی است که به حرفه روانشناسی می‌پردازد و دارای کد نظام روانشناسی معتبر است.
    مراکز درمانی: مراکز بهداشتی-درمانی شامل بیمارستان‌ها، کلینیک‌ها، آزمایشگاه‌ها، مراکز تصویربرداری، مراکز زیبایی و کلیه مراکز کلینیکی و پارا کلینیکی است که به درمان بیماران یا مراقبت پزشکی از شهروندان اختصاص دارد.
    خدمات کلینیکی و پاراکلینیکی: مجموعه‌ای از خدمات بهداشتی، درمانی و مراقبتی است که در مراکز درمانی معتبر انجام می‌شود و شهروند می‌تواند از طریق سایت از آن‌ها نوبت دریافت کند.
</p>

<h5>ماده دو) شرایط عمومی ایجاد حساب کاربری</h5>

<p>
    شرکت با پایبندی کامل به قوانین و مقررات جمهوری اسلامی ایران فعالیت می‌نماید.
    هرگونه علامت، عدد، کلمه، تصویر یا نشان الکترونیک که مُثبِت هویت امضا‌کننده باشد و به این سند یا سایر اسناد صادره در این زمینه ملحق شود، به منزله امضای الکترونیک و همانند امضای دست‌نویس دارای آثار حقوقی و واجد اعتبار است و امضاکننده را متعهد و ملتزم به مفاد سندی که به طرق مزبور امضا نموده است، می‌نماید.
    برای استفاده از خدمات ما، سن کاربر باید بالای ۱۸ سال تمام شمسی باشد، فرایند ایجاد حساب کاربری را تکمیل نماید، مفاد این سند را قبول نماید و اطلاعات تماس صحیح و به‌روز خود را ارائه دهد.
    کاربر متعهد است که اطلاعات هویتی خود را به طور صحیح وارد نماید. مسئولیت نادرستی اطلاعات مذکور به طور کامل با کاربر است.
    کاربران می‌توانند درخواست حذف داده‌های شخصی خود را از ما داشته باشند، مشروط به اینکه الزام قانونی برای نگهداری آن داده وجود نداشته باشد.
</p>