@page
@model Maktab.Sample.Blog.Presentation.Pages.Prescriptions.AllPrescriptionsModel
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "_UserLayout";
}

<h1>List Of Appointments</h1>

<table class="table">
    <thead>
        <tr>
           @*  <th>Id</th> *@
            <th>Appointment</th>
            <th>Prescription Description</th>
            <th>Doctor Tracking Code</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var prescription in Model.PrescriptionsModel)
        {
            <tr>
                @* <td>@Html.DisplayFor(modelItem => prescription.Id)</td> *@
                <td>@Html.DisplayFor(modelItem => prescription.Appointment)</td>
                <td>@Html.DisplayFor(modelItem => prescription.PrescriptionDescription)</td>
                <td>@Html.DisplayFor(modelItem => prescription.DoctortId)</td>
                @* <td>
                    <a asp-action="#" asp-route-id="#">Delete</a>
                </td> *@
            </tr>
        }

    </tbody>
</table>
