@page
@model Maktab.Sample.Blog.Presentation.Pages.Admin.DashboardModel
@{
    Layout = "_UserLayout";
}

<h1 class="text-center">صفحه داشبورد</h1>
<p class="text-center">برای استفاده از امکانات از زبانه های گوشه صفحه استفاده کنید</p>